<!-- <form class="w3-card-4 w3-display-middle">
<div class="w3-container w3-green">
  <h2>Server name</h2>
</div>
<form class="w3-container w3-display">

  <label>Server URL</label>
  <input #URL="ngModel" [(ngModel)]="serverDetails.URL" name="ServerURL" placeholder="Enter server URL" class="w3-input" type="text"/>
  
  <label>IP Address</label>
  <input #ipAddress="ngModel"[(ngModel)]="serverDetails.ipAddress" name="ServerIpAddress" placeholder="Enter IP Address" class="w3-input" type="text"/>
 
  <label>Username</label>
  <input #username="ngModel" [(ngModel)]="serverDetails.username" name="ServerUsername" placeholder="Enter server username" class="w3-input" type="text"/>  

  <label>Password</label>
  <input #password="ngModel" [(ngModel)]="serverDetails.password" name="ServerPassword" placeholder="Enter server password" class="w3-input" type="password"/>  

  <button class="w3-btn w3-green w3-round-large" (click)="searchServer(serverDetails)">Search</button>

</form>
</form> -->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div>

            <div class="modal-body">
                <form method="POST"  class="w3-card-2 w3-center">
                    <div class="w3-row">
                        <label for="txtDevice" class="control-label">Server URL:</label>
                        <input #URL="ngModel" type="text" class="form-control" name="URL" [(ngModel)]="serverDetails.URL" id="txtDevice">
                    </div>
                    <div class="w3-row">
                        <label for="txtIP" class="control-label">IP Address:</label>
                        <input #ipAddress="ngModel" type="text" class="form-control" name='ipAddress' [(ngModel)]="serverDetails.ipAddress" id="txtIP">
                    </div>
                    <div class="w3-row">
                        <label for="txtUsername" class="control-label">Username:</label>
                        <input #username="ngModel" type="text" class="form-control" name="username" [(ngModel)]="serverDetails.username" id="txtUsername">
                    </div>
                    <div class="form-group">
                        <label for="txtPassword" class="control-label">Password:</label>
                        <input #password="ngModel" type="text" name='password' class="form-control" [(ngModel)]="serverDetails.password" id="txtPassword">
                    </div>
                   
                  <button id="btnAdd" (click)="searchServer(serverDetails)" type="submit" class="btn btn-primary">Search</button>
                  <button id="btnAdd" (click)="getPath()" type="button" class="btn btn-primary">Get Path </button>
    
                </form>
                {{error}}
            </div>
        </div>

        
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <!-- <button ng-show="showAdd" id="btnAdd" ng-click="addMachine()" type="button" class="btn btn-primary">Add machine</button> -->

           
    </div>
</div>