<!-- <div class="w3-container"> -->
<div>
  <label>Path:</label>
  <!-- <input type="text" name="path" (ngModelChange)="getPath()" [(ngModel)]="path"/> -->
  <input list="directory" type="text" name="path" (ngModelChange)="getPath()" [(ngModel)]="path" />

  <datalist id="directory">
 
     <option *ngFor=" let file of auto_complite_path" [value]="file">
  </datalist>
 
  <button type="submit" (click)="showFile()">Submit</button>
</div>
<div>
  <label>File details:</label>
  <textarea>
      {{auto_complite_path }} 
  </textarea>
</div>
<div>
  <label>Enter path to upload file:</label>
  <input type="text" [(ngModel)]="pathToUpload"  name="pathToUpload"/>
  <button type="submit" (click)="uploadFile()">Upload</button>
</div>
<!-- </div> -->